/* Universal Styles */

html {
  font-size: 16px;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h1, h2 {
  color: #4A4A4A;
}

p {
  color: #737373;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header nav li {
  display: inline-block;
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  font-family: "Ubuntu", "Arial", sans-serif;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    justify-content: space-between;
  }
}

/* Banner */

#banner-section {
  background-color: lightgray;
  display: flex;
  margin: 0;
  align-items: center;
}

#banner-section .left {
  display: flex;
  padding: 2rem 1.5rem;
  width: 60%;
}

.left .image-container img {
  max-width: 100%;
}

#banner-section .content {
  padding-right: 4.5rem;
  padding-left: 1rem;
}

#banner-section .button {
  background-color: #4a4a4a;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 75%;
  text-align: center;
}

#banner-section .button a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 480px) {
  #banner-section {
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  #banner-section .left {
    width: 100%;
    padding: 0;
  }

  #banner-section .button {
    background-color: darkgray;
    width: 100%;
  }

  #banner-section .content {
    padding-right: 1rem;
  }

  #banner-section .button a {
    font-weight: 700;
  }
}

/* Featured */

#featured-section {
  display: flex;
  margin: 0;
}

#featured-section .left {
  padding: 2rem 1.5rem;
  width: 65%;
}

#featured-section .mobile {
  display: none;
}

#featured-section .right {
  border-left: 1px solid lightgray;
}

.right .feature {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.right .feature .image-container {
  width: 30%;
  height: auto;
  padding: 1rem;
}

.right .feature .image-container img {
  max-width: 100%;
}

.right .feature .content {
  width: 65%;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.gray {
  background-color: lightgray;
}

#featured-section a {
  text-decoration: none;
  color: #4B90DF;
}

@media only screen and (max-width: 480px) {
  #featured-section .left {
    display: none;
  }

  #featured-section .desktop {
    display: none;
  }

  #featured-section .mobile {
    display: block;
  }

  #featured-section .right {
    border-left: none;
    margin-top: 2rem;
  }

  .right .feature {
    display: flex;
    border-bottom: none;
    flex-wrap: wrap;
  }

  .right .feature .image-container {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .right .feature .content {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .gray {
    background-color: white;
  }
}

/* Start Learning */

#learning-desktop {
  background-color: lightgray;
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

#learning-desktop h1 {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#learning-desktop .course {
  width: 30%;
  background-color: white;
  margin-bottom: 2rem;
}

#learning-desktop .course .image-container img {
  max-width: 100%;
  height: auto;
}

#learning-desktop .course .content {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

#learning-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  #learning-desktop {
    display: none;
  }

  #learning-mobile {
    display: block;
    border: 1px solid lightgray;
  }

  #learning-mobile h1 {
    text-align: center;
  }

  #learning-mobile nav {
    margin-bottom: 2rem;
  }

  #learning-mobile nav li {
    list-style-type: none;
    background-color: lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
  }

  #learning-mobile a {
    text-decoration: none;
    font-weight: 700;
    color: #4A4A4A;
  }
}

/* Thesis */

#thesis-exhibit {
  display: flex;
  margin: 0;
}

#thesis-title {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#thesis-exhibit .left {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  width: 55%;
}

.left .image-container video {
  max-width: 100%;
}

#thesis-exhibit .right .feature {
  border: none;
}

@media only screen and (max-width: 480px) {
  #thesis-exhibit .right {
    display: none;
  }

  #thesis-exhibit .left {
    width: 100%;
    padding: 0;
  }

  #thesis-exhibit .content {
    display: none;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid lightgray;
}

footer a {
  text-decoration: none;
  color: #737373;
  padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
  footer .desktop {
    display: none;
  }

  footer {
    border: none;
    padding-top: 1.5rem;
  }
}
